
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', monospace;
  background-color: #110c2b;
  color: white;
}

.container {
  margin: 10px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bar {
  background: #313131;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 10px #494949;
}

.chatBot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 350px;
}


.attack {
  background: #313131;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.attackDetail {
  background: #494949;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.cuckoo {
  background: #494949;
  padding: 10px 20px;
  border-radius: 10px;
}

.myParticles {
  z-index: -2000;
}

input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: 2px black solid;
  border-radius: 6px;
  background-color: rgb(31, 31, 31);
  color: white;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  align-items: flex-start;
}


.btn:focus {
  outline: none;
}
